* {
    font-family: "IBM Plex Serif", serif;
}

body {
    color: #000;
    background-color: #FAFAFA;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    font-size: 18px;
    line-height: 1.6;
    padding: 0 1rem;
}

a {
    color: inherit;
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #FFCC00;
    text-decoration-thickness: 2px;
}

a:hover, a:focus, a:active {
    background-color: #FFCC00;
}

h1,
h2,
h3,
h4,
h5,
h6, a {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.35;
    text-align: left;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.25em;
}

/* Target bio text */
h1:empty~p {
    font-size: 1.5rem;
    line-height: 1.75;
    font-weight: 300;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
}

header a {
    margin-right: 1rem;
}

header a:last-child {
    margin-right: 0;
}

P, ul {
    margin: 0 0.25em;
}

blockquote {
    border: none;
    color: inherit;
    padding: 0;
    margin: 0;
    margin-left: 3rem;
}

blockquote p {
    text-indent: 0;
    margin: 0;
}

#works-cited~p {
    text-indent: -3em;
    margin-left: 3em;
}