:root {
    --maincolor: #FC0;
    --bordercl: #FC0;
    --callouctcolor: #FC0;
    --hovercolor: #FC0;
    --font: "IBM Plex Serif", Helvetica, Arial, sans-serif;
    --headerfont: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

* {
    font-family: var(--font) !important;
}

body {
    font-size: 18px;
    hyphens: auto;
    text-align: justify;
    line-height: 1.35;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: var(--headerfont) !important;
    text-align: left;
}

a, h2 {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: var(--maincolor);
    text-decoration-thickness: 3px;
}

a:hover {
    color: inherit;
}

p, ul {
    line-height: 1.75;
    margin-top: .5em;
}

header {
    line-height: inherit;
}

nav a {
    margin: 0 .5rem;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "";
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h2, h3, p {
    margin-bottom: .5em;
}

ul>li::before {
    font-family: var(--headerfont);
}