body {
    hyphens: auto;
    font-size: 17px;
}

a {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    /* Amber 400 */
    text-decoration-color: #fbbf24;
}