* {
    font-family: "IBM Plex Serif", serif;
}

body {
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

.container {
    max-width: 75ch;
}

h1,
h2,
h3,
h4,
h5,
h6, a {
    font-family: "IBM Plex Sans", sans-serif;
    text-align: left;
}

p {
    color: #000;
}

/* Target bio text */
h1:empty~p {
    font-size: 1.5rem;
    line-height: 1.75;
}

blockquote {
    border: none;
    margin-left: 3rem;
    font-style: normal !important;
}

blockquote p {
    text-indent: 0;
}

blockquote p::before, blockquote p::after {
    content: "" !important;
}

#works-cited~p {
    text-indent: -3em;
    margin-left: 3em;
}