---
import Page from "../layouts/Page.astro";
---

<Page title="Nikoli Daigneault">
    <p class="prose mx-auto text-black leading-7">
        I’m Nikoli, a current graduate student in the Master of Arts in Writing program at Coastal Carolina University.
        You can find me on
        <a
            class="underline"
            href="https://www.linkedin.com/in/nikoli-daigneault-2a450b217/"
            target="_blank"
            rel="noopener noreferrer"
        >
            LinkedIn</a
        >, and if you’d like see some of my writing, check out my <a class="underline" href="/works">Works</a> page or
        view my <a class="underline" href="/resume">Resume</a>. You may also contact me at <a
            class="underline"
            href="mailto:nmdaignea@coastal.edu">nmdaignea@coastal.edu</a
        >
    </p>
</Page>
