---
import Page from "../layouts/Page.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
const workEntries = await getCollection("works");
---

<Page title="Nikoli Daigneault">
    <p class="mx-auto mt-4 mb-8">
        I’m Nikoli, a current graduate student in the Master of Arts in Writing program at Coastal
        Carolina University. You can find me on
        <a
            class="underline"
            href="https://www.linkedin.com/in/nikoli-daigneault-2a450b217/"
            target="_blank"
            rel="noopener noreferrer"
        >
            LinkedIn</a
        >, and if you’d like see some of my writing, check out my works on this page or view my <a
            class="underline"
            href="/resume">Resume</a
        >. You may also contact me at <a class="underline" href="mailto:nmdaignea@coastal.edu"
            >nmdaignea@coastal.edu</a
        >
    </p>

    <div class="flex flex-col gap-4 mb-8">
        {
            workEntries.map((work) => (
                <Card>
                    <span slot="header">
                        {work.data.field.charAt(0).toUpperCase() + work.data.field.slice(1)}
                    </span>
                    <span slot="title">{work.data.title}</span>
                    <a
                        class="underline"
                        href={`/works/${work.slug}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        slot="link"
                    >
                        Read Online
                    </a>
                    <p>{work.data.description}</p>
                </Card>
            ))
        }
    </div>
</Page>
