---
import Page from "../layouts/Page.astro";
import Card from "../components/Card.astro";
---

<Page title="Nikoli Daigneault">
    <p class="max-w-prose mx-auto mt-4 mb-8">
        I’m Nikoli, a current graduate student in the Master of Arts in Writing program at Coastal
        Carolina University. You can find me on
        <a
            href="https://www.linkedin.com/in/nikoli-daigneault-2a450b217/"
            target="_blank"
            rel="noopener noreferrer"
        >
            LinkedIn</a
        >, and if you’d like see some of my writing, check out my works on this page or view my <a
            href="/resume">Resume</a
        >. You may also contact me at <a href="mailto:nmdaignea@coastal.edu"
            >nmdaignea@coastal.edu</a
        >
    </p>

    <div class="max-w-prose mx-auto flex flex-col gap-4">
        <Card>
            <span slot="header">Criticism</span>
            <span slot="title">Inescapable Capitalism in <cite>Tokyo Ueno Station</cite></span>
            <a href="/works/ueno" target="_blank" rel="noopener noreferrer" slot="link"
                >Read Online</a
            >
            <p>
                In this paper, I showed how Yū Miri’s 2014 novel <cite>Tokyo Ueno Station</cite> emphasizes
                the inescapability of capitalism in modern Japan using the theories of Mark Fisher and
                Jacques Derrida.
            </p>
        </Card>

        <Card>
            <span slot="header">Linguistics</span>
            <span slot="title">Progressive <em>-s</em> Absence in African American English</span>
            <a href="/works/aae" target="_blank" rel="noopener noreferrer" slot="link"
                >Read Online</a
            >
            <p>
                In a class-wide research project, speakers of African American English were surveyed
                to find the rates of progressive <em>-s</em> absence in their speech. The results were
                analyzed against demographic information about the speakers and past research.
            </p>
        </Card>

        <Card>
            <span slot="header">Composition</span>
            <span slot="title">Stance, Position, and Enculturation</span>
            <a href="/works/enculturation" target="_blank" rel="noopener noreferrer" slot="link"
                >Read Online</a
            >
            <p>
                This essay explores the politicization of language in response to Min-Zhan Lu’s
                essay “From Silence to Words,” in which Lu reflected on her English education in
                1950s China.
            </p>
        </Card>
    </div>
</Page>
