---
import Page from "../layouts/Page.astro";
import Card from "../components/Card.astro";
---

<Page title="Nikoli Daigneault">
    <p class="max-w-prose mx-auto text-black leading-7">
        I’m Nikoli, a current graduate student in the Master of Arts in Writing program at Coastal Carolina University.
        You can find me on
        <a
            class="underline"
            href="https://www.linkedin.com/in/nikoli-daigneault-2a450b217/"
            target="_blank"
            rel="noopener noreferrer"
        >
            LinkedIn</a
        >, and if you’d like see some of my writing, check out my works below or view my <a
            class="underline"
            href="/resume">Resume</a
        >. You may also contact me at <a class="underline" href="mailto:nmdaignea@coastal.edu">nmdaignea@coastal.edu</a>
    </p>

    <div class="mt-8 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <Card>
            <span slot="header">Criticism</span>
            <span slot="title">Inescapable Capitalism in <cite>Tokyo Ueno Station</cite></span>
            <span slot="description">
                In this paper, I showed how Yū Miri’s 2014 novel <cite>Tokyo Ueno Station</cite> emphasizes the inescapability
                of capitalism in modern Japan using the theories of Mark Fisher and Jacques Derrida.
            </span>
            <a href="/works/ueno" target="_blank" rel="noopener noreferrer" slot="link">Read Online</a>
        </Card>

        <Card>
            <span slot="header">Linguistics</span>
            <span slot="title">Progressive <em>-s</em> Absence in African American English</span>
            <span slot="description">
                In class-wide research project, speakers of African American English were surveyed to find the rates of
                progressive <em>-s</em> absence in their speech. The results were analyzed against demographic information
                about the speakers and past research.
            </span>
            <a href="/works/aae" target="_blank" rel="noopener noreferrer" slot="link">Read Online</a>
        </Card>

        <Card>
            <span slot="header">Composition</span>
            <span slot="title">Stance, Position, and Enculturation</span>
            <span slot="description">
                This essay explores the politicization of language in response to Min-Zhan Lu’s essay “From Silence to
                Words,” in which Lu reflected on her English education in 1950s China.
            </span>
            <a href="/works/enculturation" target="_blank" rel="noopener noreferrer" slot="link">Read Online</a>
        </Card>

        <Card>
            <span slot="header">Composition</span>
            <span slot="title">Queer Pedagogies & Queer Composition</span>
            <span slot="description">
                In this study, I surveyed queer students and argued that pedagogies sometimes falls short in supporting
                them in the classroom. I proposed that instructors should focus on them instead of only teaching
                non-queer students to respect others
            </span>
            <a href="/works/queer-comp" target="_blank" rel="noopener noreferrer" slot="link">Read Online</a>
        </Card>

        <Card>
            <span slot="header">Criticism</span>
            <span slot="title">Imaginary Portals and Oppressive Technologies in Exit West</span>
            <span slot="description">
                In this essay, I analyzed the effects of modern technologies in the novel <cite>Exit West</cite> by Mohsin
                Hamid. From mobile phones to surveillance, I argued that these technologies are used to support and oppress
                both the characters in the novel and real-life migrants.
            </span>
            <a href="/pdfs/daigneault-exitwest.pdf" target="_blank" rel="noopener noreferrer" slot="link"
                >Download PDF</a
            >
        </Card>

        <Card>
            <span slot="header">Criticism</span>
            <span slot="title">Timeline of <cite>Tokyo Ueno Station</cite></span>
            <span slot="description">
                This timeline is a remediation of my paper on the novel Tokyo Ueno Station by Yū Miri.
            </span>
            <a href="/pdfs/daigneault-ueno-timeline.pdf" target="_blank" rel="noopener noreferrer" slot="link"
                >Download PDF</a
            >
        </Card>
    </div>
</Page>
