---
import Page from "../layouts/Page.astro";
import Card from "../components/Card.astro";
---

<Page title="Nikoli -- Resume">
    <div class="max-w-prose mx-auto">
        <h1 class="font-bold text-2xl py-2">Resume</h1>
        <a class="underline" href="/pdfs/daigneault-resume/pdf" target="_blank" rel="noopener noreferrer">
            Download PDF
        </a>

        <div class="grid grid-cols-1 gap-4 mt-4">
            <h2 class="font-bold text-xl">Education</h2>

            <Card>
                <span slot="title">Master of Arts in Writing</span>
                <span slot="description">
                    <em>Coastal Carolina University</em>, 2024 - 2025
                    <ul class="list-disc list-inside">
                        <li>Concentration in composition and rhetoric.</li>
                        <li>Graduate assistantship as a writing tutor.</li>
                        <li>Expected graduation in December 2025.</li>
                    </ul>
                </span>
            </Card>

            <Card>
                <span slot="title">Bachelor of Arts in English</span>
                <span slot="description">
                    <em>Coastal Carolina University</em>, 2023
                    <ul class="list-disc list-inside">
                        <li>Concentration in composition, rhetoric, and linguistics.</li>
                        <li>Minor in German.</li>
                    </ul>
                </span>
            </Card>

            <h2 class="font-bold text-xl">Experience</h2>

            <Card>
                <span slot="title">Foreign Language Tutor</span>
                <span slot="description">
                    <em>CCU Intercultural & Language Resource Center</em>, 2021 - 2023
                    <ul class="list-disc list-inside">
                        <li>Tutored students in beginning and intermediate German language courses.</li>
                        <li>Cataloged and organized over 300 books, films, and other media in the center’s library</li>
                    </ul>
                </span>
            </Card>

            <Card>
                <span slot="title">Resident Advisor</span>
                <span slot="description">
                    <em>CCU Intercultural & Language Resource Center</em>, 2020 - 2022
                    <ul class="list-disc list-inside">
                        <li>Oversaw 40 first-year students in student dorms.</li>
                        <li>Served as a conduit to campus resources as they adjusted to college life.</li>
                        <li>Offered immediate support during emergencies to ensure a safe living environment.</li>
                    </ul>
                </span>
            </Card>

            <h2 class="font-bold text-xl">Academic Achievements</h2>

            <Card>
                <span slot="title">Publication in <cite>The Rage</cite> Zine</span>
                <span slot="description">
                    <em>CCU Women’s and Gender Studies</em>, Fall 2023
                    <p>
                        An excerpt of my research on queer students’ compositions was published in the Fall 2023 issue
                        of <cite>The Rage</cite>, a student-led magazine that focuses on works by and about minoritized
                        voices.
                    </p>
                </span>
            </Card>

            <Card>
                <span slot="title">Publication in <cite>The Rage</cite> Zine</span>
                <span slot="description">
                    <em>Winthrop University</em>, February 2023
                    <p>
                        Presented a literary criticism paper at Winthrop University’s the third annual interdisciplinary
                        conference.
                    </p>
                </span>
            </Card>

            <Card>
                <span slot="title">Roger K. Johansen Best Essay Contest for First Year Writing</span>
                <span slot="description">
                    <em> CCU Department of English</em> 2019
                    <p>
                        Awarded first place in a competition for the best student writing produced in English 101, 102,
                        and 211 courses.
                    </p>
                </span>
            </Card>
        </div>
    </div>
</Page>
