---

---

<div class="border border-slate-300 rounded">
    <div class="font-sans px-4 py-1 rounded-t border-b bg-slate-50 border-slate-300 text-slate-800">
        <slot name="header" />
    </div>
    <div class="p-4">
        <h2 class="text-lg font-bold mb-2">
            <slot name="title" />
        </h2>
        <p>
            <slot name="description" />
        </p>
        <div class="underline mt-2"><slot name="link"></slot></div>
    </div>
</div>
