---
const props = Astro.props;
---

<div class="max-w-prose border-2 border-slate-600 p-4 flex flex-col gap-2">
    <h2 class="text-xl font-bold">
        <slot name="title" />
    </h2>
    <div class="grow"><slot /></div>
    <div><slot name="link" /></div>
</div>
