---
const color = Astro.props.color || "neutral";

const cardColors: Record<string, string> = {
    neutral: "shadow-neutral-50 border-neutral-400",
    teal: "shadow-teal-50 border-teal-400",
    green: "shadow-green-50 border-green-400",
    red: "shadow-red-50 border-red-400",
};

const headerColors: Record<string, string> = {
    neutral: "bg-neutral-50 border-neutral-500",
    teal: "bg-teal-50 border-teal-500",
    green: "bg-green-50 border-green-500",
    red: "bg-red-50 border-red-500",
};
---

<div class={`border shadow rounded flex flex-col ${cardColors[color]}`}>
    {
        Astro.slots.has("header") && (
            <div class={`text-sm py-1 px-3 rounded-t border-b ${headerColors[color]}`}>
                <slot name="header" />
            </div>
        )
    }
    <div class="px-3 pt-1 pb-3 flex flex-col gap-1">
        {
            Astro.slots.has("title") && (
                <h2 class="text-xl font-bold py-1">
                    <slot name="title" />
                </h2>
            )
        }
        <slot />
        <slot name="link" />
    </div>
</div>
