---
const props = Astro.props;
---

<div class="border border-black p-4 flex flex-col gap-2">
    <h2 class="text-xl font-medium">
        <slot name="title" />
    </h2>
    <div class="grow font-serif"><slot /></div>
    <div><slot name="link" /></div>
</div>
