---

---

<nav class="p-5 mb-5 font-condensed text-xl bg-amber-400 border-b-2 border-b-black">
    <ul class="px-5 flex flex-wrap gap-4">
        <li class="grow"><a class="no-underline" href="/">NIKOLI DAIGNEAULT</a></li>
        <li><a class="no-underline" href="/">HOME</a></li>
        <li><a class="no-underline" href="/resume">RESUME</a></li>
    </ul>
</nav>
