---

---

<nav class="p-4 mb-4 font-condensed text-xl">
    <ul class="mx-auto container flex flex-wrap gap-4">
        <li class="grow"><a class="no-underline" href="/">NIKOLI DAIGNEAULT</a></li>
        <li><a class="no-underline" href="/">HOME</a></li>
        <li><a class="no-underline" href="/resume">RESUME</a></li>
    </ul>
</nav>
