---

---

<nav class="py-4 flex flex-wrap gap-4">
    <a class="text-xl grow" href="/">Nikoli Daigneault</a>
    <a class="text-xl" href="/">Home</a>
    <a class="text-xl" href="/resume">Resume</a>
</nav>
