---

---

<nav class="max-w-prose mx-auto flex flex-wrap pt-2 pb-4">
    <div class="flex-grow"><a href="/">Nikoli Daigneault</a></div>
    <div class="flex flex-wrap gap-4">
        <a class="p-1 rounded bg-white border border-slate-600 shadow-box shadow-slate-600 active:shadow-none" href="/">Home</a>
        <a class="p-1 rounded bg-white border border-slate-600 shadow-box shadow-slate-600 active:shadow-none" href="/works">Works</a>
        <a class="p-1 rounded bg-white border border-slate-600 shadow-box shadow-slate-600 active:shadow-none" href="/resume">Resume</a>
    </div>
</nav>
