---
const { frontmatter } = Astro.props;
const name = "Nikoli Daigneault";
import '../styles/styles.css';
---

<html lang="en">
    <head>
        <title>{name + " - " + frontmatter.title}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
            rel="stylesheet"
        />

        { frontmatter.isWork &&
            <style>
                p {
                    text-indent: 3rem;
                    margin: 0;
                }

            </style>
        }
    </head>

    <body>
        <div class="container mx-auto prose">
            <header>
                <a href="/">{name}</a>
                <nav>
                    <a href="/#">Home</a>
                    <a href="/works">Works</a>
                    <a href="/resume">Resume</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
            <main>
                <slot />
            </main>
        </div>
    </body>
    { frontmatter.newTabLinks && 
        <script>
            for (let a of document.querySelectorAll("main a")) {
                a.setAttribute("target", "_blank");
                a.setAttribute("rel", "noopener noreferrer");
            }
        </script>
    }
</html>

<style>
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem 0;
    }

    header a { margin-right: 1rem; }
    header a:last-child { margin-right: 0; }
</style>