---
const props = Astro.props;
import Page from "./Page.astro";
import "../styles/work.css";
---

<Page title={props.title}>
    <main class="prose mx-auto text-black">
        <slot />
    </main>
</Page>
